.filter-container{
    padding:10px 16px;
}
.my-label{
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-right:10px;
    min-width:80px;
    display: inline-block;
}
.title{
    display:inline-block;
    font-weight: 600;
    color: #333333;
    font-size: 16px;
    width: 100%;
    i{
        display: inline-block;
        width: 2px;
        height: 16px;
        background: #BE956A;
        margin-right:4px;
        vertical-align: middle;
    }
}
.border-b{
    border-bottom:1px solid #eaeaea;
    padding-bottom: 10px;
}
.table-title{
    overflow:hidden;
    padding:10px 16px;
    .title{
        display:inline-block;
        font-weight: 600;
        color: #333333;
        font-size: 16px;
        i{
            display: inline-block;
            width: 2px;
            height: 16px;
            background: #BE956A;
            margin-right:4px;
            vertical-align: middle;
        }
    }
    .add{
        float:right;
        margin-bottom: 10px;
    }
}
.float-right{
    float:right
}
.margin-right10{
    margin-right:10px;
}
.container{
    padding:16px;
    background: #fff;
    article{
        width:100%;
        height: 44px;
        line-height: 44px;
        background: #FFFFFF;
        box-shadow: 0px 1px 0px 0px #D6D6D6;
        font-size: 16px;
        color: #333333;
        font-weight: 600;
        padding-left:16px;
    }
}
.my-title{
    width: 100%;
    height: 28px;
    color: #333333;
    font-size: 14px;
    line-height: 28px;
    background: #F5F5F5;
    text-align:center;
}

.dialog-model-form {
    max-height: calc(90vh - 114px - 60px);
    overflow: auto;
}
.handle-box {
    width: fit-content;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}
.search-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
    .search-input {
        width: 240px;
        margin: 0 10px 0 0;
    }
}
.content{
    background: #FFFFFF;
    padding:24px 16px;
    .el-form{
        width:500px;
    }
    .info{
        color:#909090;
    }
    .fix-bottom{
        position:fixed;
        bottom:16px;
        right:32px;
        height:50px;
        line-height:50px;
        text-align: right;
    }
}
.flex-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    li{
        width:23%;
        box-shadow: 0px 0px 5px 2px #F3F1F1;
        border-radius: 4px;
        border: 1px solid #EBEAEA;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:114px;
        &:hover{
            box-shadow: 0px 0px 5px 2px #F3F1F1;
            border-radius: 4px;
            border: 1px solid #BE956A;
        }
        i{
            display: block;
            width:28px;
            height:28px;
            margin-bottom:10px;
        }
        &:nth-child(1){
            i{
                background:url(~@/assets/aggregate/sku.png) no-repeat;
                background-size: 28px 28px;
            }
        }
        &:nth-child(2){
            i{
                background:url(~@/assets/aggregate/coupon.png) no-repeat;
                background-size: 28px 28px;
            }
        }
        &:nth-child(3){
            i{
                background:url(~@/assets/aggregate/images.png) no-repeat;
                background-size: 28px 28px;
            }
        }
        &:nth-child(4){
            i{
                background:url(~@/assets/aggregate/text.png) no-repeat;
                background-size: 28px 28px;
            }
        }
        span {
            display: block;
            background: #FAFAFA;
            border-radius: 3px;
            border: 1px solid #D6D6D6;
            padding:9px 23px;
            &:hover{
                background: #FAFAFA;
                border-radius: 2px;
                border: 1px solid #BE956A;
                color:#BE956A;
            }
        }
    }
}
.flex-row{
    flex-direction: row;
}
.coupon-list{
    list-style: none;
    li{
        overflow: hidden;
        padding-bottom:10px;
    }
    .img{
        float:left;
        margin-right:10px;
        .el-upload__tip{
            float:right;
            margin-left:10px;
        }
    }
}
.drag-title{
    padding-bottom:10px;color: #909090;
}
.drag-item{
    display: block;
    width:100%;
    height:100%;
    padding:20px;
    text-align: center;
    color: #333333;
    font-size: 14px;
    box-shadow: 0px 0px 5px 2px #F3F1F1;
    border-radius: 4px;
    border: 1px solid #EBEAEA;
    margin-bottom:16px;
    &:hover{
        box-shadow: 0px 0px 5px 2px #F3F1F1;
        border: 1px solid #BE956A;
        color: #BE956A;
    }
}
.margin-bom10{
    margin-bottom: 10px;
}